api:
  horizon_url: http://janus
  account_manager: SAMJKTZVW5UOHCDK5INYJNORF2HRKYI72M5XSZCBYAHQHR34FFR4Z6G4
  skip_signature_check: false

db:
  url: postgres://api:api@api_db/api?sslmode=disable
  max_idle: 4
  max_connections: 12

horizon:
  url: http://traefik
  signer: SAMJKTZVW5UOHCDK5INYJNORF2HRKYI72M5XSZCBYAHQHR34FFR4Z6G4

notificator:
  disabled: true

salesforce:
  disabled: true

listener:
  addr: :80

log:
  level: warn
  slow_query_bound: 300ms
  slow_request_bound: 1s
  # we are using sentry for error collection,
  # you could opt-out by disabling it on the following line
  disable_sentry: false

sentry:
  dsn: https://9f22323f09364ec4ad24a2315bd60c98:a4da9e4e6ddb4d13b01a336f96e73ca5@sentry.tokend.services/2
  level: warn

aws:
  credentials: "static"
  endpoint: storage:9000
  disable_ssl: true
  access_key: "miniominio"
  secret_key: "sekritsekrit"
  region: "us-east-1"

storage:
  backend: "aws"
  bucket: "api"
  ensure_bucket: true
  client_url: http://localhost:8000/_/storage/api
  media_types:
    general:
      - application/pdf
      - image/jpeg
      - image/png
      - image/gif

wallets:
  disable_confirm: true

tx_watcher:
  disabled: false

cop:
  endpoint: http://cop
  upstream: http://api
  service_name: "api-service"
  service_port: "80"

# system settings
key_values:
  kyc_recovery_enabled: "kyc_recovery_enabled"
  signer_role: "signer_role:default"
  account_role: "account_role:unverified"
  kyc_recovery_signer_role: "kyc_recovery_signer_role"
  license_admin_signer_role: "license_admin_signer_role"

twilio:
  #
  disabled: true
  url: 'https://api.twilio.com'
  account_sid: ''
  auth_token: ''
  sender: ''
  #

telegram:
  disabled: true
  url: ""
  bot_url: ""
  api_url: ""
  register_url: ""
  bot_token: ""
