listener:
  addr: :80

log:
  level: warn
  # we are using sentry for error collection,
  # you could opt-out by disabling it on the following line
  disable_sentry: false

websocket:
  enabled: false
  addr: :8080

sentry:
  dsn: https://989409410d0740a89b1f8571c4195dca@sentry.tokend.services/3

horizon:
  endpoint: http://traefik
  signer: SAMJKTZVW5UOHCDK5INYJNORF2HRKYI72M5XSZCBYAHQHR34FFR4Z6G4

cop:
  endpoint: http://cop
  upstream: http://charts
  service_name: "charts-service"
  service_port: "80"